In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from config import (gkey)
import gmaps

In [3]:
file = "../data/collision_output_pt2.csv"
df = pd.read_csv(file)
df.head()

,Unnamed: 0,Unnamed: 0.1,report_id,date_time,police_beat,street_no,street_dir,street_name,street_type,cross_st_dir,cross_st_name,cross_st_type,violation_section,violation_type,charge_desc,injured,killed,hit_run_lvl,zip_code
0,0,0,170166,1/1/17 0:01,124,8300,,CAM DEL ORO,,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR,92037
1,1,1,170218,1/1/17 0:01,325,8100,,ROYAL GORGE,DRIVE,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,MISDEMEANOR,92119
2,2,2,170101,1/1/17 0:01,322,6400,,CRAWFORD,STREET,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR,92120
3,3,3,170082,1/1/17 0:01,935,5500,,VALERIO,TRAIL,,,,MISC-HAZ,VC,MISCELLANEOUS HAZARDOUS VIOLATIONS OF THE VEHI...,0,0,MISDEMEANOR,92130
4,4,4,170097,1/1/17 1:00,521,1000,,11TH,AVENUE,,,,22107,VC,TURNING MOVEMENTS AND REQUIRED SIGNALS,0,0,MISDEMEANOR,NaN

In [4]:
collision_count = df.groupby(['zip_code']).count()
# collision_count.reset_index(inplace=True)
collision_df = pd.DataFrame(collision_count['report_id'])
cf = collision_df.sort_values(['report_id'], ascending=False)
cf.head()

          report_id
zip_code
92109          1478
92101          1048
92115          1009
92105           994
92111           962