In [1]:
# Project Title
# Digging Insights Out of Potholes

# Team Members
# Lidio Meireles, James Carter, Anthony Stansall, Tian Luo


# Project Description
# The City of San Diego shares a public dataset of pothole repair requests made between
# 01/2017 and 02/2019 Each record includes the date the pothole was reported, the date 
# the pothole was repaired, the location of the pothole (lat & long), among other things. 
# From this dataset, we plan to answer the following questions:

# Research Questions

# 1) How long does it take to repair a pothole? Repair time by neighborhood?
# 2) Most affected neighborhoods?
# 3) Number of pothole repair requests over time. How rain affects the number of potholes?

In [2]:
import pandas as pd

In [3]:
file = "data/20190228_get_it_done_pothole_requests_datasd.csv"
df = pd.read_csv(file)
df.head(5)
del df['referred_department']
del df['service_name']
del df['case_record_type']
del df['public_description']

,service_request_id,requested_datetime,case_age_days,service_name,case_record_type,updated_datetime,status,lat,long,district,case_origin,referred_department,public_description
0,80508,2016-05-20T08:55:00,0.0,Pothole,TSW,2016-05-20T16:42:00,Closed,32.831881,-117.231233,2.0,Phone,NaN,"test only, please dont create a notification"
1,80510,2016-05-20T09:05:00,0.0,Pothole,TSW,2016-05-20T16:42:00,Closed,32.716021,-117.159052,3.0,Web,NaN,Test Only - Please close
2,80518,2016-05-20T09:31:00,19.0,Pothole,TSW,2016-06-07T21:39:00,Closed,32.760286,-117.104798,9.0,Phone,NaN,4000 block of copeland just before you get on ...
3,80531,2016-05-20T10:43:00,5.0,Pothole,TSW,2016-05-25T22:37:00,Closed,32.955916,-117.252152,1.0,Phone,NaN,LARGE P/H CAUSED VEHICLE DAMAGE
4,80535,2016-05-20T11:14:00,0.0,Pothole,TSW,2016-05-20T13:36:00,Closed,32.710295,-117.155278,3.0,Web,NaN,This is a test. Please close when you receive.

In [4]:
df.to_csv("data/output.csv")